h1 {
text-align: center;
}

h3 {
  text-align: center;
  padding: 1rem 0 4rem 0;
}

.jumbotron p {
  text-align: center;
  margin: 0;
}

.row {
  padding: 1rem 0;
}

input {
  margin-bottom: 2rem;
  font-size: inherit;
}

.form-control option {
  color: green;
}


.img-responsive {
  width: 200px;
  border-radius: 10px;
  margin: 1rem auto;
}

 .btn-default {
  display: block;
  width: 70%;
  margin: auto;
}

.price {
  text-align: center;
}
