


h1 {
text-align: center;
}

h3 {
  text-align: center;
  padding: 1rem 0 4rem 0;
}

.search-result-row {
  margin-bottom: 6rem;
}

.jumbotron p {
  text-align: center;
  margin: 0;
}

p {
  text-align: center;
}

.row {
  padding: 1rem 0;
}

.divider {
 /*background-color: 	rgba(255,165,0, 0.6);*/
 border: dotted orange 1px;
 border-radius: 10px;
 text-align: center;
 margin-bottom: 3rem;
}


input {
  margin-bottom: 2rem;
}

.form-control option {
  color: green;
}

.checkbox  {
  float: right;
  /*display: block;*/
  padding-right: 1rem;
  margin: 0;
}


.price {
  text-align: center;
  /*padding: 1rem;*/
  display: block;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 21px;
  font-family: Helvetica Neue;
}

/*label {
text-align: right;
padding-right: 1rem;

}

input {
  padding-left: 1rem;
  float: right;
}*/

.img-responsive {
  width: 200px;
  border-radius: 10px;
  margin: 1rem auto;
}

 .btn-default {
  display: block;
  width: 70%;
  margin: auto;
}

.btn-warning {
 display: block;
 width: 50%;
 margin: auto;
}


.checkout {
  margin-top: 4rem;
}

#affiliate-offer {
  width: 30%;
}

@media (max-width: 768px) {
  #affiliate-offer {
    width: 70%;
  }
}
