a {
	color: #FA8E3A;
}
a:hover {
	color: #FA8E3A;
}

input:hover, select:hover {
	cursor: pointer;
}

input[type="time"] {
	padding-right: 0px;
}

.fa-border {
	border-color: #FA8E3A !important;
}

#sell-add-product-initial {
	display: table;
	margin: 0 auto;
}
#sell-add-product-initial span {
	color: black !important;
}
#sell-add-product-form {
	display: none;
}

#imgInp {
	display: none;
}

#charity {
	width: 15px;
	height: 15px;
}
