a {
	color: #FFC52F;
}
a:hover {
	color: #FFC52F;
}

input:hover, select:hover {
	cursor: pointer;
}

input[type="time"] {
	padding-right: 0px;
}

.fa-border {
	border-color: #FFC52F !important;
}

#sell-add-product-initial {
	display: table;
	margin: 0 auto;
}
#sell-add-product-initial span {
	color: black !important;
}
#sell-add-product-form {
	display: none;
}

#imgInp {
	display: none;
}

#charity {
	width: 15px;
	height: 15px;
}

.btn-primary {
	background-color: #FFC52F !important;
	border-color: #FFC52F !important;
}

.buy-end .jumbotron .subtitle {
	color: black;
}

.buy-end .order-placed {
	position: absolute;
	top: 9rem;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 295px;
	text-decoration: underline;
	color: #FA8E3A;
}